<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap-3.3.7/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/font-awesome-3.2.1/font-awesome.min.css' />
  <link rel="stylesheet" href="/stylesheets/googleapis/googleapis.css" />
  <link rel="stylesheet" href="/stylesheets/ace/ace.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/jquery-2.2.0/jquery-2.2.0.min.js"></script>
  <script src="/javascripts/vuejs/vue.js"></script>
</head>
<body class="login-layout">
  <div class="main-container" id="app">
    <div class="main-content">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="login-container">
          <div class="center">
            <h1>
              <i class="icon-leaf green"></i>
              <span class="red">爱宠族</span>
              <span class="white">后台管理系统</span>
            </h1>
            <h4 class="blue">&copy; Company Name</h4>
          </div>

          <div class="space-6"></div>

          <div class="position-relative">

            <div id="signup-box" class="signup-box visible widget-box no-border">
              <div class="widget-body">
                <div class="widget-main">
                  <h4 class="header green lighter bigger">
                    <i class="icon-group blue"></i>
                    账户注册
                  </h4>

                  <div class="alert alert-warning alert-dismissible hidden" role="alert">
                    <strong>提示!</strong>
                    <span></span>
                  </div>
                  <div class="space-6"></div>

                  <form>
                    <fieldset>
                      <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" maxlength="15" placeholder="姓名" v-model="fullName"/>
															<i class="icon-user"></i>
														</span>
                      </label>

                      <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" maxlength="15" placeholder="用户名" v-model="userName" @blur="onUserNameBlur()"/>
															<i class="icon-key"></i>
														</span>
                      </label>

                      <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="tel" class="form-control" maxlength="11" placeholder="手机号" v-model="cellphone" @blur="onCellphoneBlur()"/>
															<i class="icon-phone"></i>
														</span>
                      </label>

                      <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" class="form-control" maxlength="50" placeholder="邮箱" v-model="email" @blur="onEmailBlur()"/>
															<i class="icon-envelope"></i>
														</span>
                      </label>

                      <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" maxlength="15" placeholder="密码" v-model="password"/>
															<i class="icon-lock"></i>
														</span>
                      </label>

                      <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" maxlength="15" placeholder="确认密码" v-model="confirmPassword" @blur="onConfirmPasswordBlur()"/>
															<i class="icon-retweet"></i>
														</span>
                      </label>


                      <div class="clearfix">
                        <button type="reset" class="width-30 pull-left btn btn-sm">
                          <i class="icon-refresh"></i>
                          重置
                        </button>

                        <button type="button" class="width-65 pull-right btn btn-sm btn-success" :disabled="!enabledSave" @click="onRegister">
                          注册
                          <i class="icon-arrow-right icon-on-right"></i>
                        </button>
                      </div>
                    </fieldset>
                  </form>
                </div>

                <div class="toolbar center">
                  <a href="/" class="back-to-login-link">
                    <i class="icon-arrow-left"></i>
                    返回登陆
                  </a>
                </div>
              </div><!-- /widget-body -->
            </div><!-- /signup-box -->

          </div><!-- /position-relative -->
        </div>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div>
  </div><!-- /.main-container -->
  <script src="/javascripts/view/common.js"></script>
  <script src="/javascripts/view/register.js"></script>
</body>
</html>